.container {
  overflow: hidden;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    height: 100%;
    width: auto;
    border-radius: 100%;
  }
  p {
    padding-left: 20px;
  }
}
