// mobile : 950px;
.container{
    
    width:100%;
    font-family: var(--font-banner) !important;

    background-color: gray;
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: 1fr;
    @media screen  and (max-width:950px){
        grid-template-columns: 1fr;
    grid-template-rows: max-content 25vh;
    }
}
.item{
    --height:40vw;
    --width:100vw;
    animation: var(--opacity);
    width:calc(var(--height) * 1.7);
    height: var(--height);
    background-position: center;
    background-size: cover;
    @media screen  and (max-width:950px){
       width:var(--width);
       height: calc(var(--width) * .5);
    }
   
}
.text{
    background-color: var(--secondary-background-trans);
    display: grid;
    overflow: hidden;
    grid-template-rows: 1fr max-content;
   
    
    
}
.nav{
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    padding:25px 15%;
    padding-top: 0;
    color:white;
    *{
        user-select: none;
    }
    p{
        cursor: pointer;
        transition: all .2s;
        &:hover{
            color:var(--button-primary);
        }
    }

}
.wrapper{
    font-size: 6vw;
   
    
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    @media screen  and (max-width:950px){
        font-size: 7vw;
    align-items: center;
    flex-direction: row;
    justify-content: center;
        p{
            margin-right: 10px;
        }
     }
}
.textItem{
    opacity: 0;
    font-size: 1em;
    font-weight: bold;
    animation:var(--appear);
    color:var(--button-primary);
    white-space: nowrap;
    
    text-shadow: 3px 3px var(--text-button-primary) ;
    @for $i from 0 to 5 {
        &:nth-child(#{$i}){
            animation-delay: $i * 800ms;
        }
    }
   
}
.textBig{
    font-size: 1.3em;
    color:var(--primary-background);
    text-shadow: 3px 3px var(--text-background) ;
}
.indicatorWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.indicator{
    width:5px;
    height:5px;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.192);
    margin:0 20px;
    transition: all .2s;
}
.indiNow{
    background-color: rgb(255, 255, 255);
}