.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 10px;
  input[type="checkbox"] {
    width: 20px;
    height: 20px;
  }
}
.topBar {
  display: grid;
  grid-template-columns: 3fr repeat(3, 1fr);
  border: 1px solid gray;
  padding: 15px 25px;
  margin-bottom: 20px;
  p {
    text-align: center;
  }
  .topBarProduct {
    display: flex;
    align-items: center;
    p {
      padding-left: 20px;
    }
  }
  @media screen and (max-width: 768px) {
    display: none;
  }
}
.product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid gray;
  padding: 15px 25px 10px;
  margin-bottom: 20px;
  @media screen and (max-width: 600px) {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
  .info {
    display: grid;
    grid-template-columns: 20px 100px 1fr;
    grid-gap: 20px;
    .shop_name {
      font-weight: bold;
    }
    .image {
      img {
        width: 100%;
        height: auto;
      }
    }
    @media screen and (max-width: 400px) {
      grid-template-columns: 20px 80px 1fr;
      grid-gap: 5px;
    }
  }
}
.subInfo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
.selectQuantity {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  .quantity {
    margin: 0 5px;
    font-size: 0.8em;
    height: fit-content;
    width: 30px;
    text-align: center;
  }
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
  span {
    height: fit-content;
  }
}
.subTotal {
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttonGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    color: var(--text-button-primary);
    background-color: var(--button-primary);
    border-color: var(--button-primary);
    border-radius: 3px;
    font-size: 14px;
    padding: 10px 15px;
  }
}
.checkoutArea {
  display: flex;
  justify-content: flex-end;
  border: 1px solid gray;
  padding: 10px 15px;
  margin-top: 10px;
  div {
    padding: 10px 15px 10px 0;
    font-size: 18px;
    span {
      font-size: 20px;
      padding-left: 10px;
    }
  }
  button {
    background-color: var(--button-primary);
    padding: 10px 15px;
  }
  @media screen and (max-width: 400px) {
  }
}
@media screen and( max-width: 600px) {
  .selectQuantity,
  .subTotal,
  .buttonGroup {
    justify-content: flex-end;
  }
}
