.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 10px;
  input[type="checkbox"] {
    width: 20px;
    height: 20px;
  }
}
.topBar {
  display: grid;
  grid-template-columns: 3fr repeat(3, 1fr);
  border: 1px solid gray;
  padding: 15px 25px;
  margin-bottom: 10px;
  p {
    text-align: center;
  }
  .topBarProduct {
    display: flex;
    align-items: center;
    p {
      padding-left: 20px;
    }
  }
  @media screen and (max-width: 768px) {
    display: none;
  }
}
.order {
  border: 1px solid gray;
  padding: 10px 25px;
  @media screen and (max-width: 500px) {
    padding: 10px 10px;
  }
}
.shop {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  padding: 10px 0;
  p {
    font-weight: bold;
    padding: 0 10px 0 20px;
  }
  button {
    font-size: 14px;
    padding: 3px 10px;
  }
  .chat {
    margin-right: 5px;
  }
}
.product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 15px 0 0;
  .info {
    display: grid;
    grid-template-columns: 20px 100px 1fr;
    grid-gap: 20px;
    .image {
      img {
        width: 100%;
      }
    }
  }
}
.subInfo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.price {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.selectQuantity {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  .quantity {
    margin: 0 10px;
    font-size: 0.8em;
    height: fit-content;
    width: 30px;
    text-align: center;
  }
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
  span {
    height: fit-content;
  }
}
.subTotal {
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttonGroup {
  text-align: end;
  button {
    font-size: 14px;
    padding: 10px 15px;
    @media screen and( max-width: 500px) {
      padding: 5px 10px;
    }
  }
  .mainButton {
    margin-right: 5px;
    color: var(--text-button-primary);
    background-color: var(--button-primary);
    border-color: var(--button-primary);
    border-radius: 3px;
  }
}
