
.container{
    
    display: grid;
    grid-template-columns: 100%;
    min-height: 100vh;
    grid-template-rows: max-content 1fr;
    
}
.mainContent{
    display: grid;
    min-height: 100%;
    grid-template-rows: 1fr max-content;
}