.bar {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 15px 0;
  h1 {
    color: var(--primary-text);
    font-size: 30px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    @media screen and (max-width: 1000px) {
      padding-left: 20px;
    }
  }
}
.featureBar {
  background-image: url("https://earthhero.com/wp-content/themes/earthhero/images/sustainability-bar-bg.jpg");
}
.specBar {
  background-image: url("https://earthhero.com/wp-content/themes/earthhero/images/product-bar-bg.jpg");
}
.container {
  padding: 30px 0;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  @media screen and (max-width: 1000px) {
    padding: 30px 20px;
  }
  @media screen and (max-width: 720px) {
    grid-template-columns: 1fr;
  }
}
.subContainer {
  display: grid;
  grid-template-columns: 35px 1fr;
  grid-column-gap: 30px;
  img {
    width: 100%;
  }
  li {
    margin: 5px;
    color: gray;
    font-size: 15px;
  }
}
