.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr;
}
.tabsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.tabItem {
  text-align: center;
  cursor: pointer;
  padding: 15px;
  border: 2px solid transparent;
  transition: all 0.1s;
  border-radius: 7px 7px 0 0;
  &:hover {
    border-bottom: 2px solid gray;
    background-color: rgba(128, 128, 128, 0.123);
  }
}
.selected {
  // border: 2px solid gray;
  border-bottom: 2px solid gray;
}
