.formContainer {
  height: 100%;
  box-sizing: border-box;
  padding: 0 10px;
  form {
    font-size: 20px;
    @media screen and (max-width: 1000px) {
      font-size: 16px;
    }
    fieldset {
      padding: 10px 20px;
      margin-bottom: 20px;
      border-radius: 10px;
      legend {
        font-size: 1.2em;
        color: gray;
        padding: 0 2px;
      }
      label {
        display: flex;
        font-size: 1em;
        padding: 1em 0;
        min-width: 5.5em;
        font-weight: bold;
        @media screen and (max-width: 500px) {
          padding: 5px 0;
        }
      }
    }
  }
}
.btnContainer {
  font-size: 20px;
  button {
    width: 6em;
    padding: 10px;
    font-size: 0.8em;
    border-radius: 5px;
    border: none;
  }
  @media screen and (max-width: 1000px) {
    font-size: 15px;
    button {
      font-size: 1.2em;
    }
  }
  .editBtnActive {
    color: var(--text-button-primary);
    background-color: var(--button-primary);
    margin-left: 10px;
    width: 10em;
  }
}
.editBtn {
  color: var(--text-button-primary);
  background-color: var(--button-primary);
}
.none {
  display: none;
}

.formGroup {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: 1fr;
  padding: 5px;
  input {
    margin-left: 30px;
    font-size: 1em;
    width: 95%;
    border-radius: 5px;
    background-color: rgba(235, 235, 235, 0.555);

    border: 1px solid transparent;
    outline: none;
    &:disabled {
      background-color: rgba(235, 235, 235, 0.062);
      color: rgb(88, 88, 88);
    }
    // @media screen and (max-width: 500px) {
    //   margin-left: 0;
    //   width: 100%;
    // }
  }
  @media screen and (max-width: 500px) {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    input {
      margin-left: 0;
      width: 100%;
    }
  }
}
