.formContainer {
  height: 100%;
  box-sizing: border-box;
  h2 {
    display: block;
    text-align: center;
  }
  form {
    font-size: 20px;
    @media screen  and (max-width:1000px){
      font-size: 16px;
    }
    fieldset {
      padding: 10px 20px;
      margin-bottom: 20px;
      border-radius: 10px;
      legend {
        font-size: 1.2em;
        color:gray;
        padding:0 2px;
      }
      label {
        display: flex;
        font-size: 1em;
        padding: 1em 0;
        font-weight: bold;

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}
.btnContainer {
  margin: 0 40px;
  display: flex;
  justify-content: flex-end;
  button {
    width: 100px;
    font-size: 20px;
    margin-left: 10px;
    border-radius: 5px;
  }
}
.editBtnActive {
  color: white;
  background-color: darkblue;
}
.none {
  display: none;
}

.formGroup {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: 1fr;
  padding: 5px;
  @media screen and (max-width: 500px) {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
  }
  input {
    font-size:1em;
    padding-left: 5px;
    width: 100%;
    border: 1px solid #bdbdbc;
    border-radius: 5px;
    background-color: rgba(235, 235, 235, 0.555);

    border: 1px solid transparent;
    outline: none;
    &:disabled {
    background-color: rgba(235, 235, 235, 0.062);
      color: rgb(88, 88, 88);
    }
  }
}
