.filter {
  width: 100%;
  color: white;
  background-color: var(--secondary-background-trans);
}
.container {
  width: 100%;
  padding: 15px;
  max-width: 900px;
  margin: 0 auto;

  display: grid;
  grid-template-rows: max-content max-content;
  grid-gap: 20px;
}

.header {
  display: flex;
  align-items: center;
  padding-right: 15px;
}
