.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr;
  padding-right: 20px;
  @media screen and (max-width: 950px) {
    padding-right: 0;
  }
}
.tabsContainer {
  padding: 0 20px;
  padding-top: 30px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, max-content);
  grid-gap: 10px;
  @media screen and(max-width:950px) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }
  @media screen and (max-width: 500px) {
    grid-template-columns: 1fr;
    grid-gap: 0px;
    padding-top: 15px;
  }
}
.tabItem {
  text-align: center;
}
.mainTab {
  border-radius: 4px;
  padding: 15px 0;
  position: relative;

  transition: all 0.3s;
  cursor: pointer;
  &::before {
    transform: scaleX(0);
    transform-origin: bottom right;
  }
  &:hover {
    color: white;
  }
  &:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  &::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    inset: 0 0 0 0;
    background: var(--button-secondary);
    z-index: -1;
    transition: transform 0.3s ease;
  }
  @media screen and (max-width: 500px) {
    padding: 10px 0;
  }
}
.mainTabActive {
  background-color: var(--button-secondary);
}
