@import "./reset.css";
@import './keyframes.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
:root {
  /* varialbe declaration! */
  --primary-background: #5dc269;
  --secondary-background: #253526;
  --primary-text: #ffffff;
  --button-primary: #ecb338;
  --text-button-primary: #6d5b1c;
  --button-secondary: #5dc269;
  --text-button-secondary: #fff;

  --banner-primary-background: #2d2418;

  /* dimensions */
  --medium-nav: 950px;


  /* animation */
  --slide-down:slidedown .7s linear forwards;
  --hide:hide .2s forwards linear ;

  /* fonts */
  --font-primary:'Poppins', sans-serif;

}
.button {
  border: none;
  border-radius: 4px;
  background-color: var(--button-primary);
}
