@import "./reset.css";
@import "./keyframes.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@500&display=swap");
:root {
  /* varialbe declaration! */
  --primary-background: #5dc269;
  --secondary-background: #253526;
  --secondary-background-trans: #253526d5;
  --primary-text: #ffffff;
  --button-primary: #ecb338;
  --text-button-primary: #6d5b1c;
  --button-secondary: #9fb86f;
  --text-button-secondary: #fff;
  --text-background: #63b96d86;
  --banner-primary-background: #2d2418;

  /* dimensions */
  --medium-nav: 950px;

  /* animation */
  --slide-down: slidedown 0.7s linear forwards;
  --hide: hide 0.2s forwards linear;
  --appear: text 1.1s ease forwards;
  --opacity: opa 5s linear forwards;

  /* fonts */
  --font-primary: "Poppins", sans-serif;
  --font-banner: "Bebas Neue", cursive;
}
body{
  font-family: var(--font-primary);
}
.button {
  border: none;
  border-radius: 4px;
  background-color: var(--button-primary);
}
::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: #253526d5;
}

::selection {
  color: white;
  background: #253526d5;
}
.swiper-button-next::after{
display: none;
 

}
.swiper-button-prev::after{
  display: none;
   
  
  }
  .swiper-button-prev , .swiper-button-next{
    color:gray;
    background-color: white;
    width:40px;
    height:40px;
    border-radius: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }