@keyframes slidedown{
    from {
        max-height: 0;
    }
    to{
        max-height: 100vh;
    }
}
@keyframes hide{
    from {
        max-height: 100vh;
    }
    to{
        max-height: 0;
    }
}